<div class="cntr">
  <div class="container container-color">
    <h1>Login</h1>

    <%= form_for(:user, url: sessions_path) do |f| %>

        <div class="field form-group">
          <%= f.label :username %>
          <div class="input-group">
            <span class="input-group-addon" aria-hidden="true"><i class="fa fa-user-circle-o"></i></span>
            <%= f.text_field :username, class: 'form-control', placeholder: 'Your name' %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <div class="input-group">
            <span class="input-group-addon" aria-hidden="true"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Your password' %>
          </div>

        </div>

        <div>
          <%= f.submit "Login", class: 'btn btn-primary' %>
        </div>

    <% end %>
    <br>
<<<<<<< HEAD
    <%= link_to "Sign Up", new_user_path %> | <%= link_to "Guest Login", guest_login_path, method: :get %>
=======
    <%= link_to "Sign Up", new_user_path %> | <%= link_to "Guest Login", guest_login_path, method: :get  %>
>>>>>>> 99b7861dbd8a6d0729ec9d1511262435eb60c74f
  </div>
</div>
