<%= form_for(@user) do |f| %>

  <div class="field form-group">
    <%= f.label :username %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
      <%= f.text_field :username, class: 'form-control', placeholder: 'Your name' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :email %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Your email'  %>
    </div>
  </div>

  <% unless @user.persisted? %>

  <div class="field form-group">
    <%= f.label :password %>
    <div class="input-group">
      <span class="input-group-addon" aria-hidden="true"><i class="fa fa-lock"></i></span>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Your password'  %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <% end %>

  <div>
    <%= f.submit 'Create User', class: 'btn btn-primary' %>
  </div>

<% end %>
