<%= form_for @document, html: { multipart: true } do |f| %>
  
  <%= f.hidden_field :book_id %>

  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control', placeholder: 'A brief description of your file' %>
  </div>

  <div class="form-group">
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
  </div>

  <div class="actions">
    <%= f.submit :Submit, {class: 'btn btn-primary'} %>
  </div><br>
<% end %>
