<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>
<% environment.context_class.instance_eval { include ActionView::Helpers::UrlHelper } %>
<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">
    <%= image_tag 'logo.png', size: '30x30' %>
    &nbsp Home
  </a>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav">
      <li ng_if="$ctrl.is_admin" class="nav-item">
        <%= link_to 'Dashboard', admin_root_path, class: 'nav-link active' %>
      </li>
    </ul>
  </div>

  <span class="nav-item active">

    <span class="dropdown" ng-if="$ctrl.logged_in">
      <a class="btn fa fa-plus" style="color: white" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to 'Document', new_document_path, {class: 'dropdown-item'} %>
        <%= link_to 'Book', new_book_path, {class: 'dropdown-item'} %>
      </div>
    </span>

    <span ng-if="$ctrl.logged_in" ng-click="$ctrl.onLogout()">
      <%= link_to 'Logout', logout_path, {method: :delete, class: 'btn'} %>
    </span>
  </span>

</nav>