<!DOCTYPE html>
<html>
<head>
  <title>GeoBox</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body ng-app="GeoBox">

<geobox-header></geobox-header>

<%= render :partial => 'flash_messages', :flash => flash %>
<%= yield %>

</body>

<style>
  html, body {
    height: 100%;
    width: 100%;
  }
  body {
    padding-top: 50px;
  }
</style>
<script >

</script>
</html>
